body{
    display: flexbox;
    max-width: 80%;
    align-items: center;
    
}

header{
    width: 80%;
    align-items: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(71, 71, 71);
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fotoCarnet{
    max-height: 40%;
    width: inherit;
    margin-bottom: auto;
    contain: content;
}

.fotoCarnet img{
    max-width: 20%;
}

.descripcion p{
    text-align: justify;

}

.menu ul{
    align-items: flex-start;
}



